body {
    background-color: #F2F7FF;
}

.bg-dar {
    background-color: #0A0E31;
}

.bluedark {
    background-color: #033c97;
}

.fontcusblue {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #0d6efd;
}

.fontcusgrey {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #c4c4c4;
}

.navbar-nav .nav-link {
        font-weight: 500;
        color: #555;
        margin-left: 15px;
        margin-right: 15px;
        transition: 0.3s;
    }
    .navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
        color: #0d6efd; /* Biru Bootstrap */
    }

    /* Style tombol Login/Register */
    .btn-nav {
        border-radius: 5px; /* Sedikit rounded, tidak bulat total */
        padding: 8px 20px;
        font-weight: 600;
        font-size: 14px;
    }

@media only screen and (max-width: 768px) {
    .space-top {
      margin-top: 100px;
    }
  }

  